PhoneApp1/Service References/PhoneServiceRef/PhoneSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62724/PhoneSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhoneService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhoneService" minOccurs="0" name="GetVoicesResult" nillable="true" type="q1:ArrayOfVoices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileContentNew">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileContentNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhoneService" minOccurs="0" name="GetFileContentNewResult" nillable="true" type="q2:ArrayOfFileContentNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentUpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContenetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentUpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileContentUpdateStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentMyCollSelectAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentMyCollSelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PhoneService" minOccurs="0" name="FileContentMyCollSelectAllResult" nillable="true" type="q3:ArrayOfFileContentColl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PhoneService" minOccurs="0" name="fileContent" nillable="true" type="q4:FileContentForInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileContentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileContentInsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>