PhoneApp1/Service References/PhoneServiceRef/PhoneSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62724/PhoneSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62724/PhoneSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62724/PhoneSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhoneService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneSvc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_GetVoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoices" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_GetVoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_GetFileContentNew_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContentNew" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_GetFileContentNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContentNewResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentUpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:FileContentUpdateStatus" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentUpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileContentUpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentMyCollSelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FileContentMyCollSelectAll" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentMyCollSelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileContentMyCollSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:FileContentInsert" />
  </wsdl:message>
  <wsdl:message name="IPhoneSvc_FileContentInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileContentInsertResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneSvc">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/GetData" message="tns:IPhoneSvc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/GetDataResponse" message="tns:IPhoneSvc_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/GetVoices" message="tns:IPhoneSvc_GetVoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/GetVoicesResponse" message="tns:IPhoneSvc_GetVoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileContentNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/GetFileContentNew" message="tns:IPhoneSvc_GetFileContentNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/GetFileContentNewResponse" message="tns:IPhoneSvc_GetFileContentNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileContentUpdateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentUpdateStatus" message="tns:IPhoneSvc_FileContentUpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentUpdateStatusResponse" message="tns:IPhoneSvc_FileContentUpdateStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileContentMyCollSelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentMyCollSelectAll" message="tns:IPhoneSvc_FileContentMyCollSelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentMyCollSelectAllResponse" message="tns:IPhoneSvc_FileContentMyCollSelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileContentInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentInsert" message="tns:IPhoneSvc_FileContentInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneSvc/FileContentInsertResponse" message="tns:IPhoneSvc_FileContentInsert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneSvc" type="tns:IPhoneSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoices">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/GetVoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContentNew">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/GetFileContentNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileContentUpdateStatus">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/FileContentUpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileContentMyCollSelectAll">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/FileContentMyCollSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileContentInsert">
      <soap:operation soapAction="http://tempuri.org/IPhoneSvc/FileContentInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneSvc">
    <wsdl:port name="BasicHttpBinding_IPhoneSvc" binding="tns:BasicHttpBinding_IPhoneSvc">
      <soap:address location="http://localhost:62724/PhoneSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>